In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.3.4'

In [2]:
# Pandas 객체
# 1. Series 객체
s = pd.Series(
    [0, 0.25, 0.5, 0.75, 1.0]
)
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [3]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [4]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
s[1]

0.25

In [6]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [7]:
s = pd.Series(
    [0, 0.25, 0.5, 0.75, 1.0],
    index=['a', 'b', 'c', 'd', 'e']
)
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [8]:
s['c']

0.5

In [9]:
s[['c', 'd', 'e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [10]:
'b' in s

True

In [11]:
s = pd.Series(
    [0, 0.25, 0.5, 0.75, 1.0],
    index=[2, 4, 6, 8, 10]
)
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [12]:
s[4]

0.25

In [13]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [14]:
s.unique()

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [15]:
s.value_counts()

0.00    1
0.25    1
0.50    1
0.75    1
1.00    1
dtype: int64

In [16]:
s.isin([0.25, 0.75])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [17]:
pop_tuple = {
    '서울특별시' : 9720846,
    '부산광역시' : 3404423,
    '인천광역시' : 2947217,
    '대구광역시' : 2427954,
    '대전광역시' : 1471040,
    '광주광역시' : 1455048
}
population = pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [18]:
population['서울특별시']

9720846

In [19]:
population['서울특별시':'인천광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

In [20]:
# 2. DataFrame 객체
pd.DataFrame(
    [
        {
            'A' : 2,
            'B' : 4,
            'D' : 3
        },
        {
            'A' : 4,
            'B' : 5,
            'C' : 7
        }
    ]
)

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [21]:
pd.DataFrame(
    np.random.rand(5, 5),
    columns=['A', 'B', 'C', 'D', 'E'],
    index=[1, 2, 3, 4, 5]
)

          A         B         C         D         E
1  0.377088  0.592614  0.504888  0.455483  0.122152
2  0.002001  0.160760  0.899016  0.477050  0.453791
3  0.004908  0.968687  0.780364  0.173114  0.942040
4  0.457466  0.120297  0.656934  0.101765  0.408999
5  0.429998  0.989048  0.878419  0.828136  0.634261

In [22]:
male_tuple = {
    '서울특별시' : 4732275,
    '부산광역시' : 1668618,
    '인천광역시' : 1476913,
    '대구광역시' : 1198815,
    '대전광역시' : 734441,
    '광주광역시' : 720060
}
male = pd.Series(male_tuple)
male

서울특별시    4732275
부산광역시    1668618
인천광역시    1476913
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [23]:
female_tuple = {
    '서울특별시' : 4988571,
    '부산광역시' : 1735805,
    '인천광역시' : 1470404,
    '대구광역시' : 1229139,
    '대전광역시' : 736599,
    '광주광역시' : 734988
}
female = pd.Series(female_tuple)
female

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
dtype: int64

In [24]:
korea_df = pd.DataFrame(
    {
        '인구수' : population,
        '남자인구수' : male,
        '여자인구수' : female
    }
)
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476913  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [25]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [26]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [27]:
korea_df['여자인구수']

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [28]:
korea_df['서울특별시' : '인천광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476913  1470404

In [29]:
# 3. Index 객체
idx = pd.Index(
    [2, 4, 6, 8, 10]
)
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [30]:
idx[1]

4

In [32]:
idx[1:2:2]

Int64Index([4], dtype='int64')

In [33]:
idx[-1::]

Int64Index([10], dtype='int64')

In [34]:
idx[::2]

Int64Index([2, 6, 10], dtype='int64')

In [35]:
print(idx)
print(idx.size)
print(idx.shape)
print(idx.ndim)
print(idx.dtype)

Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

In [46]:
idx1 = pd.Index([1, 2, 4, 6, 8])
idx2 = pd.Index([2, 4, 5, 6, 7])
print(idx1.append(idx2))
print(idx1.difference(idx2))
print(idx1.intersection(idx2))
print(idx1 & idx2)
print(idx1.union(idx2))
print(idx1 | idx2)
print(idx1.delete(0))
print(idx1.drop(1))
print(idx1 ^ idx2)

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([1, 5, 7, 8], dtype='int64')

C:\Users\kmgni\AppData\Local\Temp/ipykernel_1752/1292683623.py:6: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print(idx1 & idx2)
C:\Users\kmgni\AppData\Local\Temp/ipykernel_1752/1292683623.py:8: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print(idx1 | idx2)
C:\Users\kmgni\AppData\Local\Temp/ipykernel_1752/1292683623.py:11: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  print(idx1 ^ idx2)

In [47]:
# 인덱싱
s = pd.Series(
    [0, 0.25, 0.5, 0.75, 1.0],
    index=['a', 'b', 'c', 'd', 'e']
)
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [48]:
s['b']

0.25

In [49]:
'b' in s

True

In [50]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [52]:
list(s.items())

[('a', 0.0), ('b', 0.25), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [54]:
s['f'] = 1.25
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [56]:
s['a' : 'd']

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [57]:
s[0:4]

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [58]:
s[(s > 0.4) & (s < 0.8)]

c    0.50
d    0.75
dtype: float64

In [59]:
s[['a', 'c', 'e']]

a    0.0
c    0.5
e    1.0
dtype: float64

In [60]:
# Series 인덱싱
s = pd.Series(
    ['a', 'b', 'c', 'd', 'e'],
    index=[1, 3, 5, 7, 9]
)
s

1    a
3    b
5    c
7    d
9    e
dtype: object

In [61]:
s[1]

'a'

In [62]:
s[2:4]

5    c
7    d
dtype: object

In [63]:
s.iloc[1]

'b'

In [64]:
s.iloc[2:4]

5    c
7    d
dtype: object

In [66]:
s.reindex(range(10))

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [67]:
s.reindex(range(10), method='bfill')

0    a
1    a
2    b
3    b
4    c
5    c
6    d
7    d
8    e
9    e
dtype: object

In [ ]:
# 3. DataFrame 인덱싱
df = pd.DataFrame()