In [2]:
import numpy as np
import pandas as pd

In [3]:
sample_submission = pd.read_csv('sample_submission.csv')
train = pd.read_csv('train.csv')

In [4]:
train.tail()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
67909,936fd5cff1c058d39817a08f58b72cae,No finding,14,R1,NaN,NaN,NaN,NaN
67910,ca7e72954550eeb610fe22bf0244b7fa,No finding,14,R1,NaN,NaN,NaN,NaN
67911,aa17d5312a0fb4a2939436abca7f9579,No finding,14,R8,NaN,NaN,NaN,NaN
67912,4b56bc6d22b192f075f13231419dfcc8,Cardiomegaly,3,R8,771.0,979.0,1680.0,1311.0
67913,5e272e3adbdaafb07a7e84a9e62b1a4c,No finding,14,R16,NaN,NaN,NaN,NaN

In [5]:
class_name = train['class_name'].unique()

In [6]:
train['rad_id'].unique()

array(['R11', 'R7', 'R10', 'R9', 'R17', 'R3', 'R8', 'R6', 'R5', 'R4',
       'R2', 'R16', 'R1', 'R15', 'R13', 'R12', 'R14'], dtype=object)

In [7]:
train[train['class_name'] == 'No finding'].count()

image_id      31818
class_name    31818
class_id      31818
rad_id        31818
x_min             0
y_min             0
x_max             0
y_max             0
dtype: int64

In [10]:
for name in class_name:
    print(name)
    print(train[train['class_name'] == name].loc[:, ['image_id']].count(), end="\n\n")

No finding
image_id    31818
dtype: int64

Cardiomegaly
image_id    5427
dtype: int64

Aortic enlargement
image_id    7162
dtype: int64

Pleural thickening
image_id    4842
dtype: int64

ILD
image_id    1000
dtype: int64

Nodule/Mass
image_id    2580
dtype: int64

Pulmonary fibrosis
image_id    4655
dtype: int64

Lung Opacity
image_id    2483
dtype: int64

Atelectasis
image_id    279
dtype: int64

Other lesion
image_id    2203
dtype: int64

Infiltration
image_id    1247
dtype: int64

Pleural effusion
image_id    2476
dtype: int64

Calcification
image_id    960
dtype: int64

Consolidation
image_id    556
dtype: int64

Pneumothorax
image_id    226
dtype: int64

In [9]:
import matplotlib.pyplot as plt